.form {
  align-content: center;
  margin-top: 90px;
}
form {
  border: black solid 5px;
  border-radius: 5px;
  background-color: aqua;
  background-size: 50%;
  padding: 20px;
  width: 50%;
  height: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

label[for="name"],label[for="breed"],label[for="status"],label[for="image"],label[for="teamId"] {
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  padding: 20px 20px 0 20px;
}
input, textarea {
  width: 60%;
  height: 30px;
  margin-bottom: 10px;
}
textarea {
  width: 95%;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
::placeholder {
  font-size: large;
  padding-top: 5px;
  text-align: center;
}

select {
  width: 50%;
  font-size: 20px;
  text-align: center;
}

input[type=text], input[type=submit] {
  font-size: 20px;
  text-align: center;
}
.view, .home {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -20%;
}
.details {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.home {
  float: left;
}
.view {
  float: right;
}
p {
  font-size: 20px;
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
}
h1 {
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
  text-align: center;
}
h2 {
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
  text-align: left;
}
ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

li {
  flex: 1 1 300px;
  max-height: 200px;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5px;
  overflow: auto;
}

p {
  font-size: 20px;
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
}

h1 {
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
  text-align: center;
}

h2 {
  background-color: rgba(255,255,255,0.7); 
  padding: 15px 15px 0 15px;
  text-align: left;
}

li {
  flex: 1 1 200px;
  max-height: 200px;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5px;
  overflow: auto;
}

.main-section {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    flex: 1 1 300px;
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    overflow: auto;
}